/* Миксины для работы с Flexbox (без использования Tailwind CSS) */

@mixin box-type(
	$display,
	$flex-wrap,
	$justify-content,
	$align-items,
	$flex-direction,
	$gap
) {
	display: $display;
	flex-flow: $flex-direction $flex-wrap;
	justify-content: $justify-content;
	align-items: $align-items;
	gap: $gap;
}

@mixin font-settings($font-family, $font-size, $font-weight) {
	font-weight: $font-weight;
	font-size: $font-size;
	font-family: $font-family;
	line-height: normal;
}

@mixin container(
	$min-inline-size: 320px,
	$max-inline-size: 1440px,
	$media-padding-x: 0
) {
	inline-size: 100%;
	min-inline-size: $min-inline-size;
	max-inline-size: $max-inline-size;
	margin: 0 auto;

	@media screen and (max-width: #{ $max-inline-size + $media-padding-x }) {
		padding-inline: $media-padding-x;
	}
}
